# Root level ignores
node_modules/
.DS_Store

# Backend ignores
backend/node_modules/
backend/dist/
backend/.env
backend/whatsapp-auth/
backend/.wwebjs_cache/
*.sqlite
*.sqlite-journal
*.db


# Frontend ignores
frontend/node_modules/
frontend/dist/
